.dayCreatorContainer{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    gap: 1em;
}

.dayCreatorLeftContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 3;
    flex-shrink: 5;
}

.dayDataSection{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    flex: 1;
    background-color: var(--first-color);
    padding: 1.5em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.dayDataSectionHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dayDataSectionTitle{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: white;
}

.dayDataSectionContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.dayExercises{
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 1em;
}

.dayCreatorRightContainer{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--first-color);
    padding: 1.5em;
    gap: 1.5em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.dayRightHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dayRightBtn{
    border: none;
    background-color: transparent;
    color: yellow;
    cursor: pointer;
    transition: 0.2s all ease;
}

.dayRightBtn:hover{
    color: black;
}

.dayRightSection1{
    display: flex;
    flex-direction: column;
}

.dayRightSection1 > *:nth-child(3) {
    margin-top: 1em;
}

.dayRightSection2{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-height: 340px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media only screen and (max-width: 820px) {
    .dayCreatorContainer{
        flex-direction: column;
    }
}