.dashboardContainer{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    gap: 1em;
}

.dashboardLeftContainer{
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 0%;
    gap: 1em;

}

.dashboardRightContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
}

.exercisesContainer{
    flex: 2;
    width: 100%;
    background-color: var(--first-color);
    padding: 1.5em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.exercisesListContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.manageContainer{
    display: flex;
    flex: 1;
    background-color: var(--first-color);
    padding: 1.5em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.routinesContainer{
    width: 100%;
    background-color: var(--first-color);
    padding: 1.5em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.containerTitle{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: white;
    padding-bottom: 1.5em;
}

.cardsContainer{  
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.overviewContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--first-color);
    padding: 1.5em;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
}

.innerOverviewContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chartControls{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3em;
}

.chartControls > button {
    transition: 0.2s all ease;
    background-color: yellow;
    padding: 0.25em 2em;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    -moz-box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    cursor: pointer;
}

.chartControls > button:hover{
    opacity: 0.5;
}

.cardBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: yellow;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    -moz-box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    box-shadow: 4px 4px 0px 1px rgb(27, 26, 26);
    transition: 0.2s all ease;
}
.cardBtn svg{
    fill: black;
}
.cardBtn:hover{
    opacity: 0.5;
}
.dataNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 1em;
}

.dataNavText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dataNavText > h2 {
    color: white;
}

.dataNavText > h5 {
    color: yellow;
}

.manageContainer{
    display: flex;
    flex-direction: column;
}

.manageInnerContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
