.formInputContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.25em;
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1;
    min-width: 150px;
    height: max-content;
    width: 100%;
}

.formInputContainer label{
    color: var(--third-color);
    font-size: 0.75rem;
}

.formInput {
    width: 100%;
    background-color: var(--second-color);
    outline: none;
    border: none;
    padding: 0.4em;
    border-radius: 5px;
    color: white;
    font-size: 1rem; 
    font-weight: 100;
    appearance: none; 
    -webkit-appearance: none;
    cursor: pointer;
    resize: none;
}
.formInputContainer input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    width: 100%;
    height: 2.2em;
    border: none;
    background: none;
    cursor: pointer;
}

.formInputContainer input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.formInputContainer input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}