.logExerciseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
}

.setRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.setNumber{
    color: yellow;
}