.articleDetailsContainer{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    gap: 1em;
    background-color: var(--first-color);
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    -moz-box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);
    box-shadow: 6px 6px 0px 1px rgba(58, 54, 54, 1);

}

.articleDetailsImgContainer > img {
    max-width: 500px;
}

.articleDetailsContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.articleTitle{
    color: yellow;
    text-align: center;
    line-height: 1rem;
}

.articleDesc, .articleContent{
    color: white;
    font-weight: 100;
    text-align: justify;
}

.articleDate{
    color: white;
    font-weight: 100;
    text-align: right;
    margin-top: auto;
}